package app

import (
	"github.com/jmoiron/sqlx"
    "database/sql"
    "{{ .App.Module }}/internal/{{ .App.Module }}/usecase"
    "{{ .App.Module }}/internal/adapter/repository"
)

type Container struct {
	{{if .Storages}}
		//goro:container databases
		{{range $key, $val := .Storages}}
    		{{$key}} {{$val.Connection}}
		{{end -}}
	{{end}}

	deps    map[string]interface{}
}

func NewContainer({{if .Storages}}{{range $key, $val := .Storages}}{{$key}} {{$val.Connection}},{{end -}}{{end}}) *Container {
	
    return &Container{
		{{if .Storages}}
            
            //goro:container databases
            {{range $key, $val := .Storages}}
                {{$key}}: {{$key}},
            {{end -}}
	    {{end}}
		deps:    make(map[string]interface{}),
	}
}

{{if .Dependencies}}
    {{range $key, $val := .Dependencies}}
        func (cnt *Container) Get{{camelize $key.String }}() {{ $val.Type }} {
            
            return {{ $val.BuildFunc }} ({{range $p := $val.Deps}} cnt.{{$p}}, {{end}})
        }
    {{end}}
{{end}}