package app

import (
    {{if .Storages}}
        {{range .Storages -}}
            {{if eq .Type `mysqlx`}}"github.com/jmoiron/sqlx"{{end}}
            {{if eq .Type `mysql`}}"database/sql"{{end}}
        {{end -}}
    {{end}}

    "{{ $.App.Module }}/{{$.UseCase.Pkg}}"

    {{if .Dependencies}}
        {{range .Dependencies -}}
            "{{ $.App.Module }}/{{.Pkg}}"
        {{end -}}
    {{end}}

    "sync"
)

type Container struct {
	{{if .Storages}}
		//goro:container databases
		{{range $key, $val := .Storages}}
    		{{$key}} {{$val.Connection}}
		{{end -}}
	{{end}}

	deps    map[string]interface{}
	mu      *sync.RWMutex
}

func NewContainer({{if .Storages}}{{range $key, $val := .Storages}}{{$key}} {{$val.Connection}},{{end -}}{{end}}) *Container {
	
    return &Container{
		{{if .Storages}}
            
            //goro:container databases
            {{range $key, $val := .Storages}}
                {{$key}}: {{$key}},
            {{end -}}
	    {{end}}
		deps:    make(map[string]interface{}),
		mu:      &sync.RWMutex{},
	}
}

func (c *Container) GetUseCase() {{ $.UseCase.Type }} {

    return {{ $.UseCase.BuildFunc }}({{range $p := $.UseCase.Deps}} c.get{{toCamelCase $p}}(), {{end}})
}

func (c *Container) getDep(name string) interface{} {
    c.mu.RLock()
    defer c.mu.RUnlock()

    return c.deps[name]
}

func (c *Container) setDep(name string, val interface{}) {
    c.mu.Lock()
    defer c.mu.Unlock()

    c.deps[name] = val
}

{{if .Storages}}
    {{range $key, $val := .Storages}}
        func (c *Container) get{{toCamelCase $key.String }}() {{ $val.Connection }} {

            return c.{{$key.String}}
        }
    {{end}}
{{end}}

{{if .Dependencies}}
    {{range $key, $val := .Dependencies}}
        func (c *Container) get{{toCamelCase $key.String }}() {{ $val.Type }} {
            dep := c.getDep("{{toCamelCase $key.String }}")
            res, ok := dep.({{$val.Type}})
            if ok && res != nil {
                return res
            }

            d := {{ $val.BuildFunc }} ({{range $p := $val.Deps}} c.get{{toCamelCase $p}}(), {{end}})
            c.setDep("{{toCamelCase $key.String }}", d)

            return d
        }
    {{end}}
{{end}}