//goro:init logger
package app

import (
	"log"
	"{{ .App.Module }}/pkg/logger"
)

func (app *App) initLogger() {
	l, err := logger.NewLogger()
	if err != nil {
		log.Fatal(err)
	}

	app.logger = l
}
