package {{ $.PkgName }}

import (
	"context"
)

func (r *Repository) {{toPublicName (toCamelCase $.MethodName)}}(ctx context.Context) {
    // TODO: put your repository logic here
    panic("implement me")
}