package repository

import (
    "database/sql"
)

type MyRepo struct {
	conn *sql.DB
}

func NewMyRepo(conn *sql.DB) *MyRepo {
	return &MyRepo{
		conn: conn,
	}
}

func (m *MyRepo) GetPong() string {
    return "pong"
}