package repository

import (
    "database/sql"
)

type MyRepo struct {
	conn *sql.DB
	pgConn *sql.DB
}

func NewMyRepo(conn, postgresConn *sql.DB) *MyRepo {
	return &MyRepo{
		conn: conn,
		pgConn: postgresConn,
	}
}

func (m *MyRepo) GetPong() string {
    return "pong"
}