package usecase

import (
	"context"
)

type PongService interface {
    GetPingAnswer() string
}

type UseCase struct {
    pongService PongService
}

func NewUseCase(ps PongService) *UseCase {
	return &UseCase{
	    pongService: ps,
	}
}

func (uc *UseCase) Pong(ctx context.Context) (string, error) {
	return uc.pongService.GetPingAnswer(), nil
}