package v1

import (
	"context"
	"{{ .App.Module }}/pkg/logger"
)

type UseCase interface {
    {{range $val := .UseCase.Methods}}{{toCamelCase $val}}(ctx context.Context) (interface{}, error)
    {{end}}
}

type Handler struct {
	uc     UseCase
	logger logger.Logger
}

func NewHandler(uc UseCase, logs logger.Logger) *Handler {
	return &Handler{uc: uc, logger: logs}
}
