package usecase

import (
	"context"
)

func (u *UseCase) {{toCamelCase $}}(ctx context.Context) (interface{}, error) {
    // TODO: put your service call logic here
    return "implement UseCase method {{toCamelCase $}}", nil
}