package usecase

{{if .Deps}}
    {{range $val := .Deps}}
        type {{$val}} interface {
        	// TODO: define interface to inject a service
        }
    {{end}}
{{end}}

type UseCase struct {
    {{if .Deps}}
        {{range $val := .Deps}}
            {{$val}} {{$val}}
        {{end}}
    {{end}}
}

func NewUseCase({{if .Deps}}{{range $val := .Deps}}{{$val}} {{$val}}{{end}}{{end}}) *UseCase {
	return &UseCase{
	    {{if .Deps}}
            {{range $val := .Deps}}
                {{$val}}: {{$val}},
            {{end}}
        {{end}}
	}
}